.main-header {
    max-width: 1200px;
    border-radius: 0 0 20px 20px;
    padding: 24px 0;
    margin: 0 auto;
    background-color: var(--dark-grey);
    margin-bottom: 80px;
}

.main-header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    flex-wrap: wrap;
    gap: 30px 100px;
}

.main-header__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 70px;
}

.main-header__link {
    font-size: 14px;
    letter-spacing: 0.1em;
    font-family: 'Ibm', sans-serif;
    color: var(--light-grey);
}

.main-header__social-list {
    display: flex;
    align-items: center;
}

.main-header__social-item:not(:last-child) {
    margin-right: 25px;
}

@media (max-width: 620px) {
.main-header--fixed {
    display: none;
}
    .main-header__links,
    .main-header__navigation {
        flex-direction: column;
    }
    
    .main-header__links {
        width: 100%;
        padding: 0 20px;
    }

    .main-header__link {
        text-align: center;
        border-bottom: 1px solid #fff;
        padding: 10px;
        width: 100%;
        border-radius: 6px;
        box-shadow: 0 4px 7px -4px #fff
    }
}

@media (max-width: 1000px) {
    .main-header__navigation {
        justify-content: center;
    }
}

.main-header--fixed {
    width: 100%;
    transition: 300ms;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: 0 5px 20px -10px #fff;
    margin: 0;
}
