.skills {
    background-color: var(--basic-white);
    padding: 40px 0;
    font-family: var(--first-family);
}

.skills__wrapper {
    width: var(--wrapper-width);
    margin: 0 auto;
}

.skills__title {
    font-size: 34px;
    margin-bottom: 10px;
    text-align: center;
}

.skills__about {
    font-weight: 400;
    font-family: var(--second-family);
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--light-grey);
    margin-bottom: 50px;
}

.skills__list {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.skills__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__item img {
    margin-bottom: 20px;
}